<div class="container my-3">
    <h4 class="my-5 text-primary text-center text-uppercase">Ví điện tử admin</h4>
    <a class="btn btn-success btn-sm my-4" href="/logout">Logout</a>
    {{#if user}}
        <h2>Xin chào <strong>{{user.fullname}}</strong></h2>
    <a class="btn btn-success btn-sm my-4" href="/admin/users/unverified">Danh sách tài khoản chưa xác minh</a>
    <a class="btn btn-success btn-sm my-4" href="/admin/users/RequestIDCard">Danh sách tài khoản đang đợi bổ sung thông tin</a>
    <a class="btn btn-success btn-sm my-4" href="/admin/users/verified">Danh sách tài khoản đã kích hoạt</a>
    <a class="btn btn-success btn-sm my-4" href="/admin/users/blocked">Danh sách tài khoản đã bị khóa</a>
    <a class="btn btn-success btn-sm my-4" href="/admin/users/disabled">Danh sách tài khoản đang bị vô hiệu hóa</a>
    <a class="btn btn-success btn-sm my-4" href="/admin/transactions">Quản lý giao dịch</a>
    {{/if}}

</div>