<div>
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Khôi phục mật khẩu</h4>
          <button type="button" class="close" data-dismiss="modal" onclick="history.back()">&times;</button>
        </div>
          <!-- Modal body -->
          <form method="post" action="/successful">
          <div class="modal-body">
                  <div class="form-group">
                      <label for="passwordconfirm">Mật khẩu mới</label>
                      <input class="form-control" type="password" placeholder="Nhập Password mới" id="newpassword" name="newpassword">
                  </div>
                  <div class="form-group">
                      <label for="passwordconfirm">Nhập lại mật khẩu mới</label>
                      <input class="form-control" type="password" placeholder="Nhập lại Password" id="passwordconfirm" name="passwordconfirm">
                  </div>
                  {{#if message}}
                  <div class="alert alert-danger">
                     {{message}}
                  </div>
                  {{/if}}
                  <div class="form-group">
                    <button class="btn btn-success mr-2">Khôi phục</button>
                  {{!-- <button type="button" class="btn btn-dark" data-dismiss="modal" >Đóng</button> --}}
                </div>
              </form>
          </div>
        
        <!-- Modal footer -->
          
      </div>
    </div>
  </div>