<div>
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Nạp tiền vào tài khoản</h4>
          <button type="button" class="close" data-dismiss="modal" onclick="history.back()">&times;</button>
        </div>
          <!-- Modal body -->
          <form method="post" action="/deposit">
          <div class="modal-body">
                  <div class="form-group">
                      <label for="cardnumber">Số thẻ  </label>
                      <input class="form-control" type="number" placeholder="Nhập số thẻ" id="cardnumber" name="cardnumber">
                  </div>
                  <div class="form-group">
                      <label for="expiredate">Ngày hết hạn</label>
                      <input class="form-control" type="date" placeholder="Nhập ngày hết hạn"  id="expiredate" name="expiredate">
                  </div>
                  <div class="form-group">
                      <label for="cvv">CVV</label>
                      <input  class="form-control" type="number" placeholder="Nhập CVV" id="cvv" name="cvv">
                  </div>
                   <div class="form-group">
                      <label for="money">Số tiền muốn nạp</label>
                      <input  class="form-control" type="number" placeholder="Nhập số tiền muốn nạp" id="money" name="money">
                  </div>
                  {{!-- <div class="alert alert-danger">
                      Vui lòng nhập đầy đủ thông tin
                  </div> --}}
                  {{#if message}}
                  <div class="form-group">
                    <div class="alert alert-danger alert-dismissible fade show">
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                      {{message}}
                    </div>
                  </div>
                  {{/if}}
                  <div class="form-group">
                  <button class="btn btn-success mr-2">Nạp tiền</button>
                  {{!-- <button type="button" class="btn btn-dark" data-dismiss="modal" >Đóng</button> --}}
                </div>
              </form>
          </div>
        
        <!-- Modal footer -->
          
      </div>
    </div>
  </div>