<div>
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Nạp tiền vào tài khoản</h4>
          <button type="button" class="close" data-dismiss="modal" onclick="history.back()">&times;</button>
        </div>
          <!-- Modal body -->
          <form method="post" action="/transfer/{{username}}">
          <div class="modal-body">
                  <div class="form-group">
                      <label for="phone">SĐT người nhận </label>
                      <input class="form-control" type="text" placeholder="Nhập SĐT người nhận" id="phone" name="phone">

                   <div class="form-group">
                      <label for="money">Số tiền muốn chuyển</label>
                      <input  class="form-control" type="number" placeholder="Nhập số tiền muốn chuyển" id="money" name="money">
                  </div>
                   <div class="form-group">
                      <label for="note">Ghi chú</label>
                      <input  class="form-control" type="text" placeholder="Nhập ghi chú" id="note" name="note">
                  </div>
                  {{!-- <div class="alert alert-danger">
                      Vui lòng nhập đầy đủ thông tin
                  </div> --}}
                  <div class="form-group">
                  <button class="btn btn-success mr-2">Chuyển tiền</button>
                  {{!-- <button type="button" class="btn btn-dark" data-dismiss="modal" >Đóng</button> --}}
                </div>
              </form>
          </div>
        
        <!-- Modal footer -->
          
      </div>
    </div>
  </div>